html {
    --power-off: rgba(255, 148, 112, 1);
    --power-hover: rgba(241, 90, 34, 1);
    --power-on: rgb(207, 62, 14);

    --screen-color: rgba(0, 0, 0, 1);

    --channel-inactive: rgba(1, 1, 1, 1);
    --channel-hover: rgb(167, 30, 30);
    --channel-active: rgb(255, 0, 0);

    --static: repeating-radial-gradient(circle at 17% 32%, white, black 0.00085px);

    --tv-shadow: 0;
}

body {
    margin: 0;
}

* {
    font-family: "Quicksand", sans-serif;
}

button {
    cursor: pointer;
}

main {
    height: 100vh;
    width: 100vw;
    display: grid;
    perspective: 25em;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
}

/* Screen */
section:nth-of-type(1) {
    background-color: var(--screen-color);
    width: 66%;
    height: 40vmin;
    border: 0.75em solid #444;
    border-radius: 0.75em;
    align-self: center;
    justify-self: center;
    box-shadow: var(--tv-shadow);
}

/* remote */
section:nth-of-type(2) {
    background-color: #444;
    width: 10em;
    height: 35vmin;
    border: 0.75em solid #444;
    border-radius: 0.75em;
    padding: 0 0 2em 0;
    align-self: center;
    justify-self: center;
    display: grid;
    transform: rotateX(45deg) rotateY(0deg) rotateZ(0deg);
    grid-template-areas:
        "power"
        "channels";

    >div:nth-of-type(1) {
        grid-area: power;

        label {
            position: relative;
            width: 3em;
            height: 3em;
            display: inline-block;

            /* Power icon */
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                cursor: pointer;
            }

            &:hover input[type="checkbox"] {
                background-color: var(--power-hover);
            }
        }

        /* Power button */
        input[type="checkbox"] {
            appearance: none;
            display: inline-block;
            width: 3em;
            height: 3em;
            border-radius: 50%;
            background-color: var(--power-off);
            cursor: pointer;
        }

        input[type="checkbox"]:checked {
            background-color: var(--power-on);
        }
    }

    /* Channels */
    >div:nth-of-type(2) {
        grid-area: channels;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        div {
            margin: auto;

            /* Channel radio's */
            input[type="radio"] {
                appearance: none;
                display: inline-block;
                width: 3em;
                height: 3em;
                border-radius: 50%;
                background-color: var(--channel-inactive);
                position: relative;
                cursor: pointer;

                &:hover {
                    background-color: var(--channel-hover);
                }

                &:checked {
                    background-color: var(--channel-active);
                }

                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    color: #fff;
                }
            }

            &:nth-of-type(1) input::after {
                content: "1";
            }

            &:nth-of-type(2) input::after {
                content: "2";
            }

            &:nth-of-type(3) input::after {
                content: "3";
            }

            &:nth-of-type(4) input::after {
                content: "4";
            }

            &:nth-of-type(5) input::after {
                content: "5";
            }

            &:nth-of-type(6) input::after {
                content: "6";
            }

            &:nth-of-type(7) input::after {
                content: "7";
            }

            &:nth-of-type(8) input::after {
                content: "8";
            }

            &:nth-of-type(9) input::after {
                content: "9";
            }
        }
    }

    /* Volume */
    >div:nth-of-type(3) {
        grid-area: volume;
    }

    /* Channels */
    >div:nth-of-type(4) {
        grid-area: nextPrev;
    }
}

/* TV */
main:has(section:nth-of-type(2) div:nth-of-type(1) input[type="checkbox"]:checked) {
    --screen-color: forestgreen;
    --tv-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    /* Screen when powered on */

}

/* 1st channel */
main:has(section:nth-of-type(2) div:nth-of-type(1) input[type="checkbox"]:checked):has(section:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) input[type="radio"]:checked) {
    --screen-color: crimson;

    section:nth-of-type(1) {
        background-image: var(--static);
        animation: tv-static .5s linear forwards;
    }
}

/* 2nd channel */
main:has(section:nth-of-type(2) div:nth-of-type(1) input[type="checkbox"]:checked):has(section:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) input[type="radio"]:checked) {
    --screen-color: orange;

    section:nth-of-type(1) {
        background-image: var(--static);
        animation: tv-static2 .5s linear forwards;
    }
}

/* 3rd channel */
main:has(section:nth-of-type(2) div:nth-of-type(1) input[type="checkbox"]:checked):has(section:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(3) input[type="radio"]:checked) {
    --screen-color: yellow;

    section:nth-of-type(1) {
        background-image: var(--static);
        animation: tv-static3 .5s linear forwards;
    }
}

/* 4th channel */
main:has(section:nth-of-type(2) div:nth-of-type(1) input[type="checkbox"]:checked):has(section:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(4) input[type="radio"]:checked) {
    --screen-color: green;

    section:nth-of-type(1) {
        background-image: var(--static);
        animation: tv-static4 .5s linear forwards;
    }
}

/* 5th channel */
main:has(section:nth-of-type(2) div:nth-of-type(1) input[type="checkbox"]:checked):has(section:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(5) input[type="radio"]:checked) {
    --screen-color: lightblue;

    section:nth-of-type(1) {
        background-image: var(--static);
        animation: tv-static5 .5s linear forwards;
    }
}

/* 6th channel */
main:has(section:nth-of-type(2) div:nth-of-type(1) input[type="checkbox"]:checked):has(section:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(6) input[type="radio"]:checked) {
    --screen-color: blue;

    section:nth-of-type(1) {
        background-image: var(--static);
        animation: tv-static6 .5s linear forwards;
    }
}

/* 7th channel */
main:has(section:nth-of-type(2) div:nth-of-type(1) input[type="checkbox"]:checked):has(section:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(7) input[type="radio"]:checked) {
    --screen-color: pink;

    section:nth-of-type(1) {
        background-image: var(--static);
        animation: tv-static7 .5s linear forwards;
    }
}

/* 8th channel */
main:has(section:nth-of-type(2) div:nth-of-type(1) input[type="checkbox"]:checked):has(section:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(8) input[type="radio"]:checked) {
    --screen-color: purple;

    section:nth-of-type(1) {
        background-image: var(--static);
        animation: tv-static8 .5s linear forwards;
    }
}

/* 9th channel */
main:has(section:nth-of-type(2) div:nth-of-type(1) input[type="checkbox"]:checked):has(section:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(9) input[type="radio"]:checked) {
    --screen-color: red;

    section:nth-of-type(1) {
        background-image: var(--static);
        animation: tv-static9 .5s linear forwards;
    }
}

/* Animaties */

/* Static tv animation link */
/* https://forum.freecodecamp.org/t/creating-an-animated-tv-static-effect-using-just-a-gradient/487486 */
@keyframes tv-static {
    0% {
        background-size: 100% 100%;
    }

    90% {
        background-size: 200% 200%;
    }

    100% {
        background-image: none;
        background-size: 100% 100%;
        animation: none;
    }
}

@keyframes tv-static2 {
    0% {
        background-size: 100% 100%;
    }

    90% {
        background-size: 200% 200%;
    }

    100% {
        background-image: none;
        background-size: 100% 100%;
        animation: none;
    }
}

@keyframes tv-static3 {
    0% {
        background-size: 100% 100%;
    }

    90% {
        background-size: 200% 200%;
    }

    100% {
        background-image: none;
        background-size: 100% 100%;
        animation: none;
    }
}

@keyframes tv-static4 {
    0% {
        background-size: 100% 100%;
    }

    90% {
        background-size: 200% 200%;
    }

    100% {
        background-image: none;
        background-size: 100% 100%;
        animation: none;
    }
}

@keyframes tv-static5 {
    0% {
        background-size: 100% 100%;
    }

    90% {
        background-size: 200% 200%;
    }

    100% {
        background-image: none;
        background-size: 100% 100%;
        animation: none;
    }
}

@keyframes tv-static6 {
    0% {
        background-size: 100% 100%;
    }

    90% {
        background-size: 200% 200%;
    }

    100% {
        background-image: none;
        background-size: 100% 100%;
        animation: none;
    }
}

@keyframes tv-static7 {
    0% {
        background-size: 100% 100%;
    }

    90% {
        background-size: 200% 200%;
    }

    100% {
        background-image: none;
        background-size: 100% 100%;
        animation: none;
    }
}

@keyframes tv-static8 {
    0% {
        background-size: 100% 100%;
    }

    90% {
        background-size: 200% 200%;
    }

    100% {
        background-image: none;
        background-size: 100% 100%;
        animation: none;
    }
}

@keyframes tv-static9 {
    0% {
        background-size: 100% 100%;
    }

    90% {
        background-size: 200% 200%;
    }

    100% {
        background-image: none;
        background-size: 100% 100%;
        animation: none;
    }
}
